body{
  background-color:#E0FFFF;
}

.navbar-default .navbar-nav > li > a {
      color: black;
      font-weight: 400;
      font-style: Helvetica;
      font-size: 20px;
}

.home {
  background-color: blue;
  color: white;
  text-align: center;
}

.loginregister {
  text-align: center;
  color: black;
}

.intro{
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  padding:10px;
}

.tradingground{
  background-color: #E0FFFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;

}
.profile{
  background-color: #E0FFFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;
}
.postanitem{
  background-color: #E0FFFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;
}
.collection{
  background-color: #E0FFFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;
}
.tradehistory{
  background-color: #E0FFFF;
  text-align: center;
  font-family: Helvetica;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;
}

.profilepage{
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  background-color: white;
}

.postanitempage{
  text-align: center;
  font-family: Helvetica;
  font-size: 25px;
  background-color: white;
}

.popup{
  color: black;
  width: 150;
  height: 150;
  borderRadius: 120;
}

.frontpage{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
}

.ourteam{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
}

.aboutpage{
  text-align: left;
  font-size: 45px;
  font-family: Helvetica;
}

.col-25 {
    float: none;
    width: 75%;
    margin-top: 6px;
    align-content: center;
}

.col-75 {
    float: none;
    width: 75%;
    margin-top: 6px;
    align-content: center;
    justify-content: center;
}
