.navbar-default .navbar-nav > li > a {
  color:  white;
  font-family: Helvetica;
  font-size: 25px;
}

.navbar-default {
  background-color: 	#282828;
  background-image: none;
  background-repeat: no-repeat;
 }

.profilepage{
  text-align: center;
  font-family: Helvetica;
  font-size: 32px;
  background-color: white;
}

.postanitempage{
  text-align: center;
  font-family: Helvetica;
  font-size: 18px;
  background-color: #20B2AA;
}

.registerbelow{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
  background-color: #20B2AA;
  margin: auto 10px;
  width: auto;
  height: 400px;
}

.registerbelow{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
  background-color: #20B2AA;
  margin: auto 10px;
  width: auto;
  height: 400px;
}

.frontpage{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
  background-color: #20B2AA;
  margin: auto 10px;
  width: auto;
  height: 800px;
}

.mainfrontpage {
  background-color: #20B2AA;
}

.profilebelow{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
  background-color: #20B2AA;
  margin: auto 10px;
  width: auto;
  height: 1000px;
}

.loginbelow{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
  background-color: #20B2AA;
  margin: auto 10px;
  width: auto;
  height: 600px;
}

.itembelow{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
  background-color: #20B2AA;
  margin: auto 10px;
  width: auto;
  height: 800px;
}

.ourteam{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
}

.aboutpage{
  text-align: left;
  font-size: 45px;
  font-family: Helvetica;
}

.col-25 {
  float: none;
  width: 75%;
  margin-top: 6px;
  align-content: center;
}

.lightgreen {
  background-color: #20B2AA;
}

#lightgreen {
  background-color: #20B2AA;
}

.col-75 {
  float: none;
  width: 75%;
  margin-top: 6px;
  align-content: center;
  justify-content: center;
}

.shopname {
  color: black;
  width: 150;
  height: 150;
  borderRadius: 120;
  font-size: 20px;
  font-family: elephant;
}
.item {
  color: black;
  width: 150;
  height: 150;
  borderRadius: 120;
  font-size: 12px;
  font-family: verdana;

}
#item{
  float: right;
  font-size: 12px;
  font-family: verdana;
}

div.image{
  content: url("https://www.w3schools.com/w3css/img_lights.jpg")
}

.timecontainer {
  text-align: center;
}

.message{
  color: red;
}

.messagebelow{
  text-align: center;
  font-size: 55px;
  font-family: Helvetica;
  background-color: #20B2AA;
  margin: auto 10px;
  width: auto;
  height: 900px;
}

.titles{
  font-size: 25px;
  font-family: Helvetica;
}
