.home {
  background-color: blue;
  color: white;
  text-align: center;
}

.loginregister {
  text-align: center;
  color: black;
}

.intro{
  text-align: center;
  font-family: garamond;
  font-size: 32px;
  padding:10px;
}

.tradingground{
  background-color: lightblue;
  text-align: center;
  font-family: garamond;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;

}
.profile{
  background-color: lightblue;
  text-align: center;
  font-family: garamond;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;
}
.postanitem{
  background-color: lightblue;
  text-align: center;
  font-family: garamond;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;
}
.collection{
  background-color: lightblue;
  text-align: center;
  font-family: garamond;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;
}
.tradehistory{
  background-color: lightblue;
  text-align: center;
  font-family: garamond;
  font-size: 30px;
  height:auto;
  width:auto;
  margin:0;
  padding:22px;
}

.profilepage{
  text-align: center;
  font-family: garamond;
  font-size: 32px;
  background-color: white;
}

.postanitempage{
  text-align: center;
  font-family: garamond;
  font-size: 25px;
  background-color: white;
}

.popup{
  color: black;
  width: 150;
  height: 150;
  borderRadius: 120;
}
